header {
    height: 80px;
    background-image: linear-gradient(to bottom right, #83EAF1, #63A4FF);
    color: white;
    border-bottom: 2px solid #4a95ff;
    text-shadow: 1px 4px 4px rgba(74, 149, 255);
    text-align: center;
}

header h1 {
    padding-top: 12px;
}

#side-panel {
    padding: 20px;
    width: 20%;
}

#search-form {
    padding-bottom: 10px;
    border-bottom: 2px solid lightgray;
}

#search-btn {
    margin-top: 10px;
    width: 100%;

}